/**
 * TABLETS*
 *
 * @format
 */

.seconder-box .under-paragraph {
  font-size: 12px;
  font-family: "open sans";
  text-align: center;
}
.modal-main-content {
  background: white;
  width: 70%;
  padding: 1.5rem;
}

.seconder-box {
}

.modal-main-content,
.first-section-services {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 768px) {
  .modal-main-content,
  .first-section-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  .modal-main-content {
    background: white;
    width: 100%;
    padding: 0.5rem;
  }

  .first-section-services {
    overflow-x: auto;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .modal-main-content,
  .first-section-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .modal-main-content,
  .first-section-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 768px) and (max-width: 834px) {
  .home-container {
    margin-bottom: 1rem;
  }

  .home-hero-con {
    /* display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../images/heroBg.png);
        color: white; */
    height: 55.5vh;
    /* background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 1rem; */
  }

  .home-hero-text {
    display: flex;
    border-radius: 10px;
  }

  .home-hero-border {
    width: 0.7rem;
    background-image: linear-gradient(red 0.03%, gold 110.02%);
    margin-right: 1rem;
    border-radius: 10px;
  }

  .home-hero-text div h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25.5px;
    color: #ffffff;
  }

  .home-hero-text div h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    /* line-height: 65px; */
    letter-spacing: 0.065em;
  }

  .business-container p {
    margin: 0;
    font-weight: 400;
    font-size: 29px;
    line-height: 27px;
    text-align: center;
  }

  .bis-card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    row-gap: 1rem;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
  }

  /* BusinessCard.css */

  .businessCard {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  /* our store */
  .store-container {
    min-height: 400px;
  }

  .store-container h1 {
    padding-top: 20px;
    font-weight: 20;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /* .store-container button {
        margin: 0 auto;
        display: block;
        top: 0;
        width: 200px;
        height: 50px;
        cursor: pointer;
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, rgba(220, 4, 4, 0.75) 0%, rgba(249, 237, 0, 0.56) 104.5%);
        border-radius: 5px;
    } */

  /* clientele section */

  .clientele-container {
    min-height: 50px;
  }

  .clientele-container h1 {
    padding-bottom: 30px;
    font-weight: 200;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /* slider */

  .client-slider {
    width: 100%;
    /* overflow: hidden; */
  }

  .client-slider-wrapper {
    display: flex;
    animation: slide-infinite 35s linear infinite;
  }

  .client {
    flex: 0 0 10%;
    margin: 0 10px;
  }

  @keyframes slide-infinite {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .home-hero-text {
    display: flex;
    border-radius: 10px;
  }

  .home-hero-border {
    width: 0.7rem;
    background-image: linear-gradient(red 0.03%, gold 110.02%);
    margin-right: 1rem;
    border-radius: 10px;
  }

  .home-hero-text div h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25.5px;
    color: #ffffff;
  }

  .home-hero-text div h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    /* line-height: 65px; */
    letter-spacing: 0.065em;
  }

  .business-container p {
    margin: 0;
    font-weight: 400;
    font-size: 29px;
    line-height: 27px;
    text-align: center;
  }

  .bis-card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    row-gap: 1rem;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
  }

  .business-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    width: 230px;
    height: 200px;
    transition: all 0.3s ease;
    filter: brightness(1);
  }

  /* our store */
  .store-container {
    margin-bottom: 50px;
  }

  .store-container h1 {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /* clientele section */

  .clientele-container {
    min-height: 50px;
  }

  .clientele-container h1 {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 1rem;
  }

  /*mailing list*/
  .mailing-list-form-input {
    width: 100px;
    height: 50px;
    border: 1.5px solid black;
    font-weight: 300;
    font-size: 20px;
    background: whit;
    border-bottom-left-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    padding-left: 8px;
  }
}

/**LAPTOPS**/
@media only screen and (max-width: 1280px) {
  .home-container {
    margin-bottom: 1rem;
  }

  /* .home-hero-con {
        display: flex;
        align-items: left;
        justify-content: center;
        background-image: url(../../images/heroBg.png);
        color: white;
        height: 70vh;
        background-position: left;
        background-repeat: no-repeat;
        background-size: auto;
        margin: auto;
        padding: 0;

    }

    .home-hero-text {
        display: flex;
        border-radius: 10px;

    } */

  .home-hero-border {
    width: 0.7rem;
    background-image: linear-gradient(red 0.03%, gold 110.02%);
    margin-right: 1rem;
    border-radius: 10px;
  }

  .home-hero-text div h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25.5px;
    color: #ffffff;
  }

  .home-hero-text div h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    /* line-height: 65px; */
    letter-spacing: 0.065em;
  }

  .business-container p {
    margin: 0;
    font-weight: 400;
    font-size: 29px;
    line-height: 27px;
    text-align: center;
  }

  .bis-card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    row-gap: 1rem;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
  }

  /* BusinessCard.css */

  .businessCard {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    flex-wrap: nowrap;
    /* Add additional styling as needed */
  }

  /* our store */
  .store-container {
    min-height: 400px;
  }

  .store-container h1 {
    padding-top: 20px;
    font-weight: 20;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /* .store-container button {
        margin: 0 auto;
        display: block;
        top: 0;
        width: 200px;
        height: 50px;
        cursor: pointer;
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, rgba(220, 4, 4, 0.75) 0%, rgba(249, 237, 0, 0.56) 104.5%);
        border-radius: 5px;
    } */

  /* clientele section */

  .clientele-container {
    min-height: 50px;
  }

  .clientele-container h1 {
    padding-bottom: 30px;
    font-weight: 200;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /* slider */

  .client-slider {
    width: 100%;
    overflow: hidden;
  }

  .client-slider-wrapper {
    display: flex;
    animation: slide-infinite 35s linear infinite;
  }

  .client {
    flex: 0 0 10%;
    margin: 0 10px;
  }

  @keyframes slide-infinite {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .home-hero-text {
    display: flex;
    border-radius: 10px;
  }

  .home-hero-border {
    width: 0.7rem;
    background-image: linear-gradient(red 0.03%, gold 110.02%);
    margin-right: 1rem;
    border-radius: 10px;
  }

  .home-hero-text div h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25.5px;
    color: #ffffff;
  }

  .home-hero-text div h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    /* line-height: 65px; */
    letter-spacing: 0.065em;
  }

  .business-container p {
    margin: 0;
    font-weight: 400;
    font-size: 29px;
    line-height: 27px;
    text-align: center;
  }

  .bis-card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    row-gap: 1rem;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
  }

  .business-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    width: 230px;
    height: 200px;
    transition: all 0.3s ease;
    filter: brightness(1);
  }

  /* our store */
  .store-container {
    margin-bottom: 50px;
  }

  .store-container h1 {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /* clientele section */

  .clientele-container {
    min-height: 50px;
  }

  .clientele-container h1 {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /*mailing list*/
  .mailing-list-form-input {
    width: 100px;
    height: 50px;
    border: 1.5px solid black;
    font-weight: 300;
    font-size: 20px;
    background-color: white;
    border-bottom-left-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    padding-left: 8px;
  }
}

/**================================================================
ANDROID PHONES AND IPHONES **/
@media only screen and (min-width: 360px) and (max-width: 428px) {
  .home-container {
    margin-bottom: 1rem;
  }

  /* .home-hero-con {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../images/heroBg.png);
        color: white;
        height: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 1rem;
    } */

  .home-hero-text {
    display: flex;
    border-radius: 10px;
  }

  .home-hero-border {
    width: 0.7rem;
    background-image: linear-gradient(red 0.03%, gold 110.02%);
    margin-right: 1rem;
    border-radius: 10px;
  }

  .home-hero-text div h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30.5px;
    color: #ffffff;
  }

  .home-hero-text div h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    /* line-height: 65px; */
    letter-spacing: 0.065em;
  }

  .business-container p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }

  .bis-card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    row-gap: 1rem;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
  }

  .business-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    width: 230px;
    height: 200px;
    transition: all 0.3s ease;
    filter: brightness(1);
  }

  /* our store */
  .store-container {
    min-height: 400px;
    background: linear-gradient(
      180deg,
      rgba(182, 224, 233, 0) 0%,
      rgba(182, 224, 233, 0.5621) 11.25%,
      rgba(182, 224, 233, 0.73) 24.79%,
      rgba(182, 224, 233, 0.73) 73.75%,
      rgba(182, 224, 233, 0.73) 85.21%,
      rgba(255, 255, 255, 0.73) 100%
    );
  }

  .store-container h1 {
    padding-top: 20px;
    font-weight: 20;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  .store-container button {
    /* margin: 0 auto;
        display: block;
        top: 0;
        width: 200px;
        height: 50px;
        cursor: pointer;
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, rgba(220, 4, 4, 0.75) 0%, rgba(249, 237, 0, 0.56) 104.5%);
        border-radius: 5px; */
  }

  /* clientele section */

  .clientele-container {
    min-height: 50px;
  }

  .clientele-container h1 {
    padding-bottom: 30px;
    font-weight: 200;
    font-size: 26px;
    line-height: 49px;
    text-align: center;
  }

  /* slider */
  .client-slider {
    width: 100%;
    overflow: hidden;
  }

  .client-slider-wrapper {
    display: flex;
    animation: slide-infinite 35s linear infinite;
  }

  .client {
    flex: 0 0 10%;
    margin: 0 10px;
  }

  @keyframes slide-infinite {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .home-hero-text {
    display: flex;
    border-radius: 10px;
  }

  .home-hero-border {
    width: 0.7rem;
    background-image: linear-gradient(red 0.03%, gold 110.02%);
    margin-right: 1rem;
    border-radius: 10px;
  }

  .home-hero-text div h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30.5px;
    color: #ffffff;
  }

  .home-hero-text div h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    /* line-height: 65px; */
    letter-spacing: 0.065em;
  }

  .business-container p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }

  .bis-card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    row-gap: 1rem;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
  }

  .business-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    width: 230px;
    height: 200px;
    transition: all 0.3s ease;
    filter: brightness(1);
  }

  /* our store */
  .store-container {
    margin-bottom: 50px;
  }

  .store-container h1 {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /* clientele section */

  .clientele-container {
    min-height: 50px;
  }

  .clientele-container h1 {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
  }

  .awards-container h1 {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
  }

  .partners-container h1 {
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
  }

  /*mailing list*/
  .mailing-list-form-input {
    width: 100px;
    height: 50px;
    border: 1.5px solid black;
    font-weight: 300;
    font-size: 20px;
    background: transparent;
    border-bottom-left-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    padding-left: 8px;
  }

  .award-img {
    object-fit: contain;
    width: 230px;
    height: 200px;
  }
}

/**NEXTHUB**/
@media only screen and(min-width: 1024px) and (max-width: 1024px) {
  .home-container {
    margin-bottom: 1rem;
  }

  /* .home-hero-con {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../images/heroBg.png);
        color: white;
        height: 55.5vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 1rem;
    } */

  .home-hero-text {
    display: flex;
    border-radius: 10px;
  }

  .home-hero-border {
    width: 0.7rem;
    background-image: linear-gradient(red 0.03%, gold 110.02%);
    margin-right: 1rem;
    border-radius: 10px;
  }

  .home-hero-text div h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25.5px;
    color: #ffffff;
  }

  .home-hero-text div h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    /* line-height: 65px; */
    letter-spacing: 0.065em;
  }

  .business-container p {
    margin: 0;
    font-weight: 400;
    font-size: 29px;
    line-height: 27px;
    text-align: center;
  }

  .bis-card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    row-gap: 1rem;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
  }

  /* BusinessCard.css */

  .businessCard {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  /* our store */
  .store-container {
    min-height: 400px;
    background: linear-gradient(
      180deg,
      rgba(182, 224, 233, 0) 0%,
      rgba(182, 224, 233, 0.5621) 11.25%,
      rgba(182, 224, 233, 0.73) 24.79%,
      rgba(182, 224, 233, 0.73) 73.75%,
      rgba(182, 224, 233, 0.73) 85.21%,
      rgba(255, 255, 255, 0.73) 100%
    );
  }

  .store-container h1 {
    padding-top: 20px;
    font-weight: 20;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /* .store-container button {
        margin: 0 auto;
        display: block;
        top: 0;
        width: 200px;
        height: 50px;
        cursor: pointer;
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, rgba(220, 4, 4, 0.75) 0%, rgba(249, 237, 0, 0.56) 104.5%);
        border-radius: 5px;
    } */

  /* clientele section */

  .clientele-container {
    min-height: 50px;
  }

  .clientele-container h1 {
    padding-bottom: 30px;
    font-weight: 200;
    font-size: 26px;
    line-height: 49px;
    text-align: center;
  }

  /* slider */

  .client-slider {
    width: 100%;
    overflow: hidden;
  }

  .client-slider-wrapper {
    display: flex;
    animation: slide-infinite 35s linear infinite;
  }

  .client {
    flex: 0 0 10%;
    margin: 0 10px;
  }

  @keyframes slide-infinite {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .home-hero-text {
    display: flex;
    border-radius: 10px;
  }

  .home-hero-border {
    width: 0.7rem;
    background-image: linear-gradient(red 0.03%, gold 110.02%);
    margin-right: 1rem;
    border-radius: 10px;
  }

  .home-hero-text div h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25.5px;
    color: #ffffff;
  }

  .home-hero-text div h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 800;
    font-size: 40px;
    /* line-height: 65px; */
    letter-spacing: 0.065em;
  }

  .business-container p {
    margin: 0;
    font-weight: 400;
    font-size: 29px;
    line-height: 27px;
    text-align: center;
  }

  .bis-card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    row-gap: 1rem;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
  }

  .business-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    width: 230px;
    height: 200px;
    transition: all 0.3s ease;
    filter: brightness(1);
  }

  /* our store */
  .store-container {
    margin-bottom: 50px;
  }

  .store-container h1 {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
  }

  /* clientele section */

  .clientele-container {
    min-height: 50px;
  }

  .clientele-container h1 {
    font-weight: 700;
    padding-bottom: 30px;
    font-size: 26px;
    line-height: 49px;
    text-align: center;
  }

  /* slider */
  .client-slider {
    width: 100%;
    overflow: hidden;
  }

  .client-slider-wrapper {
    display: flex;
    animation: slide-infinite 35s linear infinite;
  }

  .client {
    flex: 0 0 10%;
    margin: 0 10px;
  }

  @keyframes slide-infinite {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  /* partner slider */

  .partner-slider {
    width: 100%;
    overflow: hidden;
  }

  .partner-slider-wrapper {
    display: flex;
    animation: slide-infinite 30s linear infinite;
  }

  .partner {
    flex: 0 0 10%;
    margin: 0 10px;
  }

  @keyframes slide-infinite {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .partner-img {
    object-fit: contain;
    width: 280px;
    height: 280px;
  }

  /* awards and recognition section */

  .awards-container {
    min-height: 150px;
  }

  .awards-container h1 {
    /* padding-bottom: 45px; */
    font-size: 26px;
    line-height: 49px;
    text-align: center;
  }

  .award-img {
    object-fit: contain;
    width: 230px;
    height: 200px;
  }

  /* partners-container section */

  .partners-container {
    min-height: 150px;
  }

  .partners-container h1 {
    padding: 0px;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 49px;
    text-align: center;
  }

  /*mailing list*/
  .mailing-list-form-input {
    width: 100px;
    height: 50px;
    border: 1.5px solid black;
    font-weight: 300;
    font-size: 20px;
    background: transparent;
    border-bottom-left-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    padding-left: 8px;
  }
}
