.t-vent-hero-container {
  background: rgb(45, 189, 138);
  display: flex;
  height: auto;
  overflow: hidden;
}
.t-vent-hero-container .txt1 {
  padding-top: 8rem;
  position: absolute;
  left: 5rem;
}

.vent-mobile-image {
  display: none;
  position: relative;
}

.half-line-text {
  color: red;
  font-weight: bold;
  font-family: open sans;
  font-size: 24px;
  border-top: 2px solid red;
  width: 7.5em;
}

.txt1 .vent-h1 {
  font-family: open sans;
  font-size: 60px;
  font-weight: 800;
}
.txt1 .body-text-vent {
  font-size: 24px;
  font-family: open sans;
  font-weight: bold;
}

.vent-sub-hero {
  background-color: f7f7f7;
  display: flex;
  position: relative;
  height: auto;
}

.vent-sub-hero text {
  font-family: open sans;
  font-weight: 700;
  position: relative;
  top: 7rem;
  left: 4rem;
  font-size: 60px;
  text-align: left;
}
.vent-sub-hero .red-txt {
  color: red;
}
.vent-desktop-image {
  object-fit: contain;
  min-width: 70em;
  height: 80vh;
  top: 2rem;
  left: 45%;
  position: relative;
}

.vent-sub-hero img {
  width: 50%;
  height: auto;
  top: 0;
  left: 0;
}
.vent-slide-container {
  display: flex;
  position: relative;
  justify-content: center;
  top: 5rem;
}
.vent-slide-section img {
  width: 20em;
  height: auto;
  padding-top: 15px;
}

.div-1,
.div-2,
.div-3 {
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 6rem;
}

.red-txt1,
.red-txt2,
.red-txt3 {
  color: red;
  font-family: open sans;
  font-weight: 7;
}
.txt1,
.txt2,
.txt3 {
  font-family: open sans;
  font-size: 18px;
}
.vent-slide-section h2 {
  font-weight: bold;
  font-family: open sans;
  font-size: 30px;
  position: relative;
  left: 6em;
}

/*Responsiveness*/
/*Laptops*/

@media screen and (min-width: 1440px) {
  .t-vent-hero-container {
    background: rgb(45, 189, 138);
    display: flex;
    height: auto;
    overflow: hidden;
  }
  .t-vent-hero-container .txt1 {
    padding-top: 5rem;
    position: absolute;
    left: 5rem;
  }

  .vent-mobile-image {
    display: none;
    position: relative;
  }

  .half-line-text {
    color: red;
    font-weight: bold;
    font-family: open sans;
    font-size: 24px;
    border-top: 2px solid red;
    width: 7.5em;
  }

  .txt1 .vent-h1 {
    font-family: open sans;
    font-size: 60px;
    font-weight: 800;
  }
  .txt1 .body-text-vent {
    font-size: 24px;
    font-family: open sans;
    font-weight: bold;
  }

  .vent-sub-hero {
    background-color: f7f7f7;
    display: flex;
    position: relative;
    height: auto;
  }

  .vent-sub-hero text {
    font-family: open sans;
    font-weight: 700;
    position: relative;
    top: 7rem;
    left: 4rem;
    font-size: 60px;
    text-align: left;
  }
  .vent-sub-hero .red-txt {
    color: red;
  }
  .vent-desktop-image {
    object-fit: contain;
    min-width: 70em;
    height: 80vh;
    top: 2rem;
    left: 50%;
    position: relative;
  }

  .vent-sub-hero img {
    width: 50%;
    height: auto;
    top: 0;
    left: 0;
  }
  .vent-slide-container {
    display: flex;
    position: relative;
    justify-content: center;
    top: 0;
  }
  .vent-slide-section img {
    width: 20em;
    height: auto;
    padding-top: 15px;
  }

  .div-1,
  .div-2,
  .div-3 {
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 6rem;
  }

  .red-txt1,
  .red-txt2,
  .red-txt3 {
    color: red;
    font-family: open sans;
    font-weight: 7;
  }
  .txt1,
  .txt2,
  .txt3 {
    font-family: open sans;
    font-size: 18px;
  }
  .vent-slide-section h2 {
    font-weight: bold;
    font-family: open sans;
    font-size: 30px;
    position: relative;
    left: 6em;
  }
}

@media only screen and (max-width: 1280px) {
  .t-vent-hero-container {
    background: rgb(45, 189, 138);
    display: flex;
    height: auto;
    overflow: hidden;
  }
  .t-vent-hero-container .txt1 {
    padding-top: 8rem;
    position: absolute;
    left: 2rem;
  }

  .vent-mobile-image {
    display: none;
    position: relative;
  }

  .half-line-text {
    color: red;
    font-weight: bold;
    font-family: open sans;
    font-size: 24px;
    border-top: 2px solid red;
    width: 7.5em;
  }

  .txt1 .vent-h1 {
    font-family: open sans;
    font-size: 60px;
    font-weight: 800;
  }
  .txt1 .body-text-vent {
    font-size: 24px;
    font-family: open sans;
    font-weight: bold;
  }

  .vent-sub-hero {
    background-color: f7f7f7;
    display: flex;
    position: relative;
    height: auto;
  }

  .vent-sub-hero text {
    font-family: open sans;
    font-weight: 700;
    position: relative;
    top: 7rem;
    left: 4rem;
    font-size: 60px;
    text-align: left;
  }
  .vent-sub-hero .red-txt {
    color: red;
  }
  .vent-desktop-image {
    object-fit: contain;
    min-width: 70em;
    height: 80vh;
    top: 2rem;
    left: 39.6%;
    position: relative;
  }

  .vent-sub-hero img {
    width: 50%;
    height: auto;
    top: 0;
    left: 0;
  }
  .vent-slide-container {
    display: flex;
    position: relative;
    justify-content: center;
    top: 0;
  }
  .vent-slide-section img {
    width: 20em;
    height: auto;
    padding-top: 15px;
  }

  .div-1,
  .div-2,
  .div-3 {
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 6rem;
  }

  .red-txt1,
  .red-txt2,
  .red-txt3 {
    color: red;
    font-family: open sans;
    font-weight: 7;
  }
  .txt1,
  .txt2,
  .txt3 {
    font-family: open sans;
    font-size: 18px;
  }
  .vent-slide-section h2 {
    font-weight: bold;
    font-family: open sans;
    font-size: 30px;
    position: relative;
    left: 6em;
  }
}



@media screen and (min-width: 320px) and (max-width: 375px) {
  .t-vent-hero-container {
    background: rgb(45, 189, 138);
    display: block;
    height: 600px;
    left: 0;
  }

  .t-vent-hero-container .txt1 {
    top: 6.3rem;
    position: relative;
    left: 7px;

    text-align: left;
  }

  .exph {
    position: relative;
    display: flex;
    top: 0;
    padding-left: 0;
    color: rgb(30, , 30, 30);
  }

  .half-line-text {
    color: red;
    font-family: "open sans";
    font-size: 14px;
    border-top: 2px solid red;
    width: 7.5em;
  }

  .txt1 .vent-h1 {
    font-family: "open sans";
    font-size: 25px;
    font-weight: 700;
  }
  .txt1 .body-text-vent {
    font-size: 14px;
    font-family: "open sans";
    text-align: left justify;
    font-size: 12px;
  }

  .vent-sub-hero {
    background-color: f7f7f7;
    display: block;
    position: relative;
    min-height: 27rem;
    top: 0;
  }

  .vent-sub-hero text {
    font-family: "open sans";
    font-weight: 700;
    position: relative;
    top: 4px;
    left: 6.5rem;
    font-size: 20px;
    text-align: left;
  }
  .vent-sub-hero .red-txt {
    color: red;
  }
  .vent-desktop-image {
    display: none;
  }
  .vent-mobile-image {
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    top: 4rem;
  }

  .vent-sub-hero img {
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
  }
  .vent-slide-section {
    display: flex;
    flex-direction: row;
    position: relative;
    row-gap: 2rem;
    justify-content: space-between;
    left: 0;
    top: 0;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }

  .vent-slide-section .slide-desktop-image {
    width: 24em;
    height: 18em;
    padding-top: 15px;
    border-radius: 14px;
   
  }
  .vent-slide-section .slide-mobile-image {
    display: flex;
  }

  .div-1,
  .div-2,
  .div-3 {
    justify-content: center;
    align-items: center;
    padding: 4px;
    padding-top: 0;
  }

  .red-txt1,
  .red-txt2,
  .red-txt3 {
    color: red;
    font-family: "open sans";
    font-weight: 7;
  }
  .txt1,
  .txt2,
  .txt3 {
    font-family: "open sans";
    font-size: 18px;
  }
}

@media screen and (min-width: 380px) and (max-width: 428px) {
    .t-vent-hero-container {
    background: rgb(45, 189, 138);
    display: block;
    height: 600px;
    left: 0;
  }

  .t-vent-hero-container .txt1 {
    top: 7.3rem;
    position: relative;
    left: 7px;
    text-align: left;
  }

  .exph {
    position: relative;
    display: flex;
    top: 0;
    padding-left: 0;
    color: rgb(30, , 30, 30);
  }

  .half-line-text {
    color: red;
    font-family: "open sans";
    font-size: 14px;
    border-top: 2px solid red;
    width: 7.5em;
  }

  .txt1 .vent-h1 {
    font-family: "open sans";
    font-size: 25px;
    font-weight: 700;
  }
  .txt1 .body-text-vent {
    font-size: 14px;
    font-family: "open sans";
    text-align: left justify;
    font-size: 12px;
  }

  .vent-sub-hero {
    background-color: f7f7f7;
    display: block;
    position: relative;
    min-height: 27rem;
    top: 0;
  }

  .vent-sub-hero text {
    font-family: "open sans";
    font-weight: 700;
    position: relative;
    top: 4px;
    left: 6.5rem;
    font-family: "open sans";
    font-size: 20px;
    text-align: left;
  }
  .vent-sub-hero .red-txt {
    color: red;
  }
  .vent-desktop-image {
    display: none;
  }
  .vent-mobile-image {
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    top: 4rem;
  }

  .vent-sub-hero img {
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
  }
  .vent-slide-section {
    display: flex;
    flex-direction: row;
    position: relative;
    row-gap: 2rem;
    justify-content: space-between;
    left: 0;
    top: 0;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }

  .vent-slide-section .slide-desktop-image {
    width: 24em;
    height: 18em;
    padding-top: 15px;
    border-radius: 14px;

  }
  .vent-slide-section .slide-mobile-image {
    display: flex;
  }

  .div-1,
  .div-2,
  .div-3 {
    justify-content: center;
    align-items: center;
    padding: 4px;
    padding-top: 0;
  }

  .red-txt1,
  .red-txt2,
  .red-txt3 {
    color: red;
    font-family: "open sans";
    font-weight: 7;
  }
  .txt1,
  .txt2,
  .txt3 {
    font-family: "open sans";
    font-size: 18px;
}
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .t-vent-hero-container {
    background: rgb(45, 189, 138);
    display: block;
    height: 600px;
    left: 0;
  }

  .t-vent-hero-container .txt1 {
    top: 6.3rem;
    position: relative;
    left: 7px;
    text-align: left;
  }

  .exph {
    position: relative;
    display: flex;
    top: 0;
    padding-left: 0;
    color: rgb(30, , 30, 30);
  }

  .half-line-text {
    color: red;
    font-family: "open sans";
    font-size: 14px;
    border-top: 2px solid red;
    width: 7.5em;
  }

  .txt1 .vent-h1 {
    font-family: "open sans";
    font-size: 25px;
    font-weight: 700;
  }
  .txt1 .body-text-vent {
    font-size: 14px;
    font-family: "open sans";
    text-align: left justify;
    font-size: 12px;
  }

  .vent-sub-hero {
    background-color: f7f7f7;
    display: block;
    position: relative;
    min-height: 27rem;
    top: 0;
  }

  .vent-sub-hero text {
    font-family: "open sans";
    font-weight: 700;
    position: relative;
    top: 4px;
    left: 10.5rem;
    font-size: 20px;
    text-align: left;
  }
  .vent-sub-hero .red-txt {
    color: red;
  }
  .vent-desktop-image {
    display: none;
  }
  .vent-mobile-image {
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    top: 4rem;
  }

  .vent-sub-hero img {
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
  }
  .vent-slide-section {
    display: flex;
    flex-direction: row;
    position: relative;
    row-gap: 2rem;
    justify-content: space-between;
    left: 0;
    top: 0;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }

  .vent-slide-section .slide-desktop-image {
    width: 24em;
    height: 18em;
    padding-top: 15px;
    border-radius: 14px;
  
  }
  .vent-slide-section .slide-mobile-image {
    display: flex;
  }

  .div-1,
  .div-2,
  .div-3 {
    justify-content: center;
    align-items: center;
    padding: 4px;
    padding-top: 0;
  }

  .red-txt1,
  .red-txt2,
  .red-txt3 {
    color: red;
    font-family: "open sans";
    font-weight: 7;
  }
  .txt1,
  .txt2,
  .txt3 {
    font-family: "open sans";
    font-size: 18px;
  }
}
   

/*TABLETS*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  .t-vent-hero-container {
    background: rgb(45, 189, 138);
    display: block;
    height: 800px;
    left: 0;
  }

  .t-vent-hero-container .txt1 {
    top: 7.3rem;
    position: relative;
    left: 7px;
    text-align: left;
  }

  .exph {
    position: relative;
    display: flex;
    top: 0;
    padding-left: 0;
    color: rgb(30, , 30, 30);
  }

  .half-line-text {
    color: red;
    font-family: "open sans";
    font-size: 14px;
    border-top: 2px solid red;
    width: 7.5em;
  }

  .txt1 .vent-h1 {
    font-family: "open sans";
    font-size: 40px;
    font-weight: 700;
  }
  .txt1 .body-text-vent {
    font-size: 14px;
    font-family: "open sans";
    text-align: left justify;
    font-size: 25px;
  }

  .vent-sub-hero {
    background-color: f7f7f7;
    display: block;
    position: relative;
    min-height: 27rem;
    top: 0;
  }

  .vent-sub-hero text {
    font-family: open sans;
    font-weight: 700;
    position: relative;
    top: 4px;
    left: 20rem;
    font-family: "open sans";
    font-size: 25px;
    text-align: left;
  }
  .vent-sub-hero .red-txt {
    color: red;
  }
  .vent-desktop-image {
    display: none;
  }
  .vent-mobile-image {
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    top: 4rem;
  }

  .vent-sub-hero img {
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
  }
  .vent-slide-section {
    display: flex;
    flex-direction: row;
    position: relative;
    row-gap: 2rem;
    justify-content: space-between;
    left: 0;
    top: 0;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }

  .vent-slide-section .slide-desktop-image {
    width: 24em;
    height: 18em;
    padding-top: 15px;
    border-radius: 14px;

  }
  .vent-slide-section .slide-mobile-image {
    display: flex;
  }

  .div-1,
  .div-2,
  .div-3 {
    justify-content: center;
    align-items: center;
    padding: 4px;
    padding-top: 0;
  }

  .red-txt1,
  .red-txt2,
  .red-txt3 {
    color: red;
    font-family: "open sans";
    font-weight: 7;
  }
  .txt1,
  .txt2,
  .txt3 {
    font-family: "open sans";
    font-size: 18px;
}

  }

