/* NotFoundPage.css */
.not-found-container {
    text-align: center;
    margin-top: 200px;
    margin-bottom:  200px;
  }
  .not-found-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ff6b6b;
  }
  .home-button {
    display: inline-block;
    background-color: #1D2488;
    color: white;
    padding: 10px 20px;
    margin-top:  20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #0c1545;
  }
  