/** @format */

.main-teem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;

  background: transparent;
  z-index: 999;
  position: fixed;
}

.absolute-teem-container {
  inset: 0;
  position: relative;
  background: grey;
  opacity: 75%;
  z-index: 10001;
}

.closure-button-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.closure-button {
  column-rule: white;
  background: red;
  border-radius: 50%;
  text-align: center;
}

.ame-section-container {
}

.mae-elements {
}

/* stylings for the teem blog post and socila media on the sial media handles tobe used n the website */

.teem-magazine-post-section-container {
  background: white;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 20px #888888;
 

  height: 370px;
  width: 99%;

  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.contents-container-teem {
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: start;
  padding: 2px;
  height: auto;
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Images/Teem/mediatmpIMG_6346.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.teem-post-heading {
  text-transform: uppercase;
  color: white;
}

.teem-text-container-post {
  height: 140px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.824);

 
}

.second-post-heading-teem {
  color: white;
}

.teem-download-button {
  background: red;
  color: white;
  font-family: "open sans";
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border: none;
  padding: 1rem;
  border-radius: 6px;
}

.teem-download-link a {
  text-decoration: none;
  color: white;
}

.teem-download-button:hover {
  background: white;
  border: 1px solid red;
  color: black;
}

/** mobile view for ll smaller screen sizes goes here **/
@media only screen and (max-width: 768px) {
  .teem-magazine-post-section-container {
    background: white;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px 10px #888888;


    height: auto;
    width: 90%;
margin-left: auto;
margin-right: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 0.6rem;
  }

  .contents-container-teem {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;
    padding: 2px;
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../Images/Teem/mediatmpIMG_6346.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .teem-post-heading {
    text-transform: uppercase;
    color: white;
  }

  .teem-text-container-post {
    height: 140px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.824);

  
  }

  .second-post-heading-teem {
    color: white;
  }

  .teem-download-button {
    background: red;
    color: white;
    font-family: "open sans";
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    border: none;
    padding: 1rem;
    border-radius: 6px;
  }

  .teem-download-link a {
    text-decoration: none;
    color: white;
  }

  .teem-download-button:hover {
    background: white;
    border: 1px solid red;
    color: black;
  }

  .teem-video{
    width: 100%;
  }
}

@media  screen and (min-width: 769px) and (max-width:1104px){
   .teem-magazine-post-section-container {
    background: white;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px 10px #888888;


    height: auto;
    width: 90%;
margin-left: auto;
margin-right: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 0.6rem;
  }

  .contents-container-teem {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;
    padding: 2px;
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../Images/Teem/mediatmpIMG_6346.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .teem-post-heading {
    text-transform: uppercase;
    color: white;
  }

  .teem-text-container-post {
    height: 140px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.824);
 
  }

  .second-post-heading-teem {
    color: white;
  }

  .teem-download-button {
    background: red;
    color: white;
    font-family: "open sans";
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    border: none;
    padding: 1rem;
    border-radius: 6px;
  }

  .teem-download-link a {
    text-decoration: none;
    color: white;
  }

  .teem-download-button:hover {
    background: white;
    border: 1px solid red;
    color: black;
  }

  .teem-video{
    width: 100%;
  }
}