.images-conteiner-slider {
  display: flex;
  flex-direction: row;
  row-gap: 6px;
  margin: auto;
  justify-content: space-between;
  animation: moving-images 7s linear infinite;
  
}

@keyframes  moving-images {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-900px);
  }

}


.download-brochure-1 {
  background-color: red;
  color: white;
  font-family: "open sans";
  font-weight: 500;
  border: none;

  padding: 1rem;
  transition: 0.7s ease-in-out;
}

.download-brochure-1:hover {
  background: white;
  color: red;
  border: 2px solid red;
  transition: 0.7s ease-in-out;
}

.checkout-brochure-section {
  font-family: "open sans";
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.main-wrapper .images-conteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  row-gap: 1px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
  animation: moving 9s linear infinite;

  transition: 0.7s ease-in-out;
}

.slider-image-flip img {
  width: 40px;
  height: 40px;
}

.slider-image-flip-c omg {
  width: 100%;
}

.slider-image-flex {
  color: white;
  border-top-right-radius: 40% 20%;
  border-bottom-left-radius: 40% 20%;
  font-weight: 700;
}

.brochures-buttons-downloads {
  background: linear-gradient(to bottom right, rgb(251, 223, 223), red, violet);
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 40% 60%;
  border-bottom-left-radius: 40% 60%;
  border-bottom-width: 40% 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.download-button-brochure {
  border-radius: 20px;
  padding: 2rem;
  transition: 0.7s ease-in-out;
  font-size: 12px;
  font-weight: 700;
  border: none;
}

.download-button-brochure:hover {
  background: red;
  transition: 0.7s ease-in-out;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid whitesmoke;
}

@media only screen and (max-width: 768px) {
  .buttons-download-section {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
